body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

body, .nav{
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.container {
	margin: 0 auto;
}

.nav {
	display: inline-flex;
	width: 100%;
	text-align: center;
	justify-content: space-evenly;
	color: white;
}

.active {
	font-weight: bold;
}

#char-list {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;

}

.portrait {
	width: 17vh;
	height: 17vh;
	border: 1px solid black;
	display: flex;
}